@media only screen and (min-width: 454px){
    
    nav ul{display: flex;}
    nav ul li{flex: 1 1 100%;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }
}