@media only screen and (min-width:497px){
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    div:nth-child(3){
        grid-column: span 2;
        }
    h1{font-size: 35px;}








    
}