@media only screen and (min-width: 454px){
    nav ul{display: flex;}
    nav ul li{flex: 1 1 100%;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }

#logoImg{
    width: 100px;
    height: 50px;
    margin-left: 50%;
    margin-top: 10%;
    
}
.cont{
    grid-template-columns: 1fr 1fr;
}



}














